.ant-advanced-search-form {
    padding: 8px;
    //background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }
  
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
/*   .ant-table-tbody{
    .ant-table-row{
        td{
            word-break:break-all;
            font-size: 12px;
            &:nth-child(2){
                color: #0099FF;
            }
            &:nth-child(3){
                color: #0099FF;
            }
        }
    }
} */
.ant-table-thead tr th.ant-table-column-title{
  background-color:"white" !important;
  color:'red'!important;
}
