#amapbaidu{
    margin-top: 5px;
}

#baiduMAP{
    width: 100%;
}

#baidu{
    width: 66%;
    height: 100%;
    float: left;
    position: relative;

}

#gaode{
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 1%;
}

#ntn{
    margin-left:20px;
}

.mytooltip{
    width: 200px;
}

// .web {
//     .ant-modal-content {
//       position: relative;
//     //   background-color: #00000000 !important;
//       border: 0;
//       border-radius: 4px;
//       height: 100%;
//     //   background-clip: padding-box;
//     //   box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
//     }
  
//     .ant-modal-body {
//     //   padding-left: 1!important;
//     //   padding-right: 1!important;
//     //   padding-top: 1!important;
//       padding-bottom: 0!important;
//       line-height: 1 !important;
//     }
//   }
  